<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960421052745-fk538slm8rs6mlhfeo8un2e3ta4umh61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960421052745-fk538slm8rs6mlhfeo8un2e3ta4umh61</string>
	<key>API_KEY</key>
	<string>AIzaSyBtzaMQVrVhLkm4iy48ZF4QpaqF3fM_-Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>960421052745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enestalhaucar.RecipeBook</string>
	<key>PROJECT_ID</key>
	<string>recipesbook-7c16e</string>
	<key>STORAGE_BUCKET</key>
	<string>recipesbook-7c16e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960421052745:ios:b2a987cb4951f55df6da98</string>
</dict>
</plist>